{% extends 'base.html.twig' %}
{% block title %}
    Ogłoszenie {{ advert.title }}
{% endblock %}

{% block categories %}
    {% include 'menu.html.twig' with {'categories': (categories) } %}
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            {{ advert.title }}
        </div>
        <div class="card-body">
            <p>{{ advert.content }}</p>
        </div>
        <div class="card-footer text-muted text-center">
            <div class="row">
                <div class="col">
                    Dodane: {{ advert.created | date("Y-m-d H:i:s") }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Dodane przez: {{ advert.user.username }}
                </div>
            </div>
            <div class="row">
                <div class="col">Tagi:
                    {% for tag in advert.tags %}
                        {{ tag.name|join(',') }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-secondary mt-2" href="{{ path('advert_index') }}">Powrót</a>
{% endblock %}